.recipeCard {

  width: 40ch;
  padding: 1rem;

  display: grid;
  grid-template-areas: "title title"
  "time people";
  row-gap: .5rem;

  background-color: grey;
  border-radius: 1rem;


  .title {
    grid-area: title;
    font-size: 1.5rem;
  }

  .time {
    grid-area: time;
  }

  .people {
    grid-area: people;
  }
}